Suppose you have a list of 100 random numbers. 
Write a small Python script for converting that list into tuples, 
supplied WITH the condition that the tuple contains only prime numbers. 
(paste your snippet here as the answer) *

In [0]:
import random

In [0]:
numbers = []
for i in range(100):
  numbers.append(random.randint(0,100))

In [11]:
print(numbers)

[58, 67, 100, 86, 34, 20, 67, 25, 30, 27, 52, 50, 91, 22, 52, 46, 1, 78, 86, 77, 51, 31, 86, 86, 70, 51, 18, 48, 18, 100, 54, 52, 4, 64, 70, 10, 55, 81, 7, 88, 59, 64, 90, 45, 4, 3, 73, 53, 27, 23, 75, 15, 40, 64, 0, 27, 91, 27, 100, 29, 21, 49, 12, 15, 17, 59, 4, 41, 70, 43, 63, 51, 63, 75, 80, 83, 89, 41, 72, 9, 57, 27, 61, 35, 11, 33, 3, 100, 4, 85, 12, 69, 17, 12, 63, 11, 74, 90, 5, 34]

In [15]:
prime = []
for item in numbers:
  if item % 2 == 0 or item % 3 == 0 or item % 5 == 0 or item % 7 == 0:
    pass
  else:
    prime.append(item)

prime = tuple(prime)
print(prime)
type(prime)

(67, 67, 1, 31, 59, 73, 53, 23, 29, 17, 59, 41, 43, 83, 89, 41, 61, 11, 17, 11)

tuple

ERROR! Session/line number was not unique in database. History logging moved to new session 59

In [0]:
# Assignment 2

In [0]:
u_poets = ('غالب', 'اقبال', 'فیض', 'ناصر', 'فراز', 'جون', 'آتش', 'چکبست', 'حالی', 'سودا', 'میر', 'مضطر', 'شکیب', 'ساحر', 'شکیل', 'مجروح', 'اختر', 'گلزار', 'امجد', 'ناز')

e_poets = ('Ghalib', 'Iqbal', 'Faiz', 'Nasir', 'Faraz', 'Jon', 'Aatish', 'Chakbast', 'Haali', 'Sauda', 'Mir', 'Muztar', 'Shakeeb', 'Sahir', 'Shakil', 'Majrooh', 'Akhtar', 'Gulzar', 'Amjad', 'Naaz' )

In [0]:
assert len(u_poets) == len(e_poets)

In [41]:
for item in u_poets:
  print(item)

غالب
اقبال
فیض
ناصر
فراز
جون
آتش
چکبست
حالی
سودا
میر
مضطر
شکیب
ساحر
شکیل
مجروح
اختر
گلزار
امجد
ناز

In [42]:
for item in e_poets:
  print(item)

Ghalib
Iqbal
Faiz
Nasir
Faraz
Jon
Aatish
Chakbast
Haali
Sauda
Mir
Muztar
Shakeeb
Sahir
Shakil
Majrooh
Akhtar
Gulzar
Amjad
Naaz

In [43]:
l_poets = []
for i, item in enumerate(u_poets):
  l_poets.append((u_poets[i], e_poets[i])) 
print(l_poets)

[('غالب', 'Ghalib'), ('اقبال', 'Iqbal'), ('فیض', 'Faiz'), ('ناصر', 'Nasir'), ('فراز', 'Faraz'), ('جون', 'Jon'), ('آتش', 'Aatish'), ('چکبست', 'Chakbast'), ('حالی', 'Haali'), ('سودا', 'Sauda'), ('میر', 'Mir'), ('مضطر', 'Muztar'), ('شکیب', 'Shakeeb'), ('ساحر', 'Sahir'), ('شکیل', 'Shakil'), ('مجروح', 'Majrooh'), ('اختر', 'Akhtar'), ('گلزار', 'Gulzar'), ('امجد', 'Amjad'), ('ناز', 'Naaz')]

In [44]:
l_poets = []
for i, item in enumerate(u_poets):
  #l_poets = l_poets + [ (u_poets[i], e_poets[i]) ] 
  l_poets += [ (u_poets[i], e_poets[i]) ] 
print(l_poets)

[('غالب', 'Ghalib'), ('اقبال', 'Iqbal'), ('فیض', 'Faiz'), ('ناصر', 'Nasir'), ('فراز', 'Faraz'), ('جون', 'Jon'), ('آتش', 'Aatish'), ('چکبست', 'Chakbast'), ('حالی', 'Haali'), ('سودا', 'Sauda'), ('میر', 'Mir'), ('مضطر', 'Muztar'), ('شکیب', 'Shakeeb'), ('ساحر', 'Sahir'), ('شکیل', 'Shakil'), ('مجروح', 'Majrooh'), ('اختر', 'Akhtar'), ('گلزار', 'Gulzar'), ('امجد', 'Amjad'), ('ناز', 'Naaz')]

In [0]:
[(u_poets[i], e_poets[i]) for i in range(0, len(u_poets))]

In [31]:
z_poets = zip(u_poets, e_poets)
z_poets = list(z_poets)
print(z_poets)
#for item in z_poets:
#  print(item)

[('غالب', 'Ghalib'), ('اقبال', 'Iqbal'), ('فیض', 'Faiz'), ('ناصر', 'Nasir'), ('فراز', 'Faraz'), ('جون', 'Jon'), ('آتش', 'Aatish'), ('چکبست', 'Chakbast'), ('حالی', 'Haali'), ('سودا', 'Sauda'), ('میر', 'Mir'), ('مضطر', 'Muztar'), ('شکیب', 'Shakeeb'), ('ساحر', 'Sahir'), ('شکیل', 'Shakil'), ('مجروح', 'Majrooh'), ('اختر', 'Akhtar'), ('گلزار', 'Gulzar'), ('امجد', 'Amjad'), ('ناز', 'Naaz')]

In [38]:
u_poets = ('آتش', 'چکبست', 'حالی', 'سودا', 'میر', 'مضطر', 'شکیب', 'ساحر', 'شکیل', 'مجروح', 'اختر', 'گلزار', 'امجد', 'ناز')
h_poets = ('asdfasf', 'asdfasd')
e_poets = ('Ghalib', 'Iqbal', 'Faiz', 'Nasir', 'Faraz', 'Jon', 'Aatish', 'Chakbast', 'Haali', 'Sauda', 'Mir', 'Muztar', 'Shakeeb', 'Sahir', 'Shakil', 'Majrooh', 'Akhtar', 'Gulzar', 'Amjad', 'Naaz' )
print(len(u_poets), len(e_poets))
x_poets = list(zip(u_poets,e_poets, h_poets))
print(x_poets)

14 20
[('آتش', 'Ghalib', 'asdfasf'), ('چکبست', 'Iqbal', 'asdfasd')]

In [25]:
print(l_poets)

[('غالب', 'Ghalib'), ('اقبال', 'Iqbal'), ('فیض', 'Faiz'), ('ناصر', 'Nasir'), ('فراز', 'Faraz'), ('جون', 'Jon'), ('آتش', 'Aatish'), ('چکبست', 'Chakbast'), ('حالی', 'Haali'), ('سودا', 'Sauda'), ('میر', 'Mir'), ('مضطر', 'Muztar'), ('شکیب', 'Shakeeb'), ('ساحر', 'Sahir'), ('شکیل', 'Shakil'), ('مجروح', 'Majrooh'), ('اختر', 'Akhtar'), ('گلزار', 'Gulzar'), ('امجد', 'Amjad'), ('ناز', 'Naaz')]

# lst.append(item)
# lst = lst + [(item)]

In [26]:
a =  [1,2,3]
b = [4,6,8]

c = a + b

print(c)

[1, 2, 3, 4, 6, 8]

In [28]:
a.append(b)

print(a)

[1, 2, 3, [4, 6, 8]]

In [0]:
a = 1
a = a+1
a += 1

In [53]:
a=1
b=str(10000000000)
print(b)

10000000000