# Understanding 1: “Flattening the list of lists into a single list"

In [2]:
input_data = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

In [4]:
# Simple programme without comprehensions
output_data = list()
for x in input_data:
    for y in x:
        output_data.append(y)
print(output_data)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
output_data = [ y for x in input_data for y in x ]
print(output_data)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Understanding 2: “Extraction of all string values from the list of sets.”

In [3]:
input_data = [
    {"Mahmud", "Gandhi", 49.5},
    {1948, "Jinnah", "Iqbal", "Azad"},
    {"Bose", "Singh", "Johar", 2, "Panday"}
]

In [4]:
output_data = { y for x in input_data for y in x if type(y) == str } 
print(output_data)

{'Jinnah', 'Johar', 'Bose', 'Iqbal', 'Mahmud', 'Azad', 'Panday', 'Singh', 'Gandhi'}

# Challenge 1: “Extraction of all sets from the list of sets, provided there is no None or Empty item in the nested set”

In [7]:
input_data = [
    {None,"",45.099},
    {18,"Elvis",True,"Tina"},
    {False,45,55.25,None,""}
]

In [9]:
output_data = { y for x in input_data for y in x if y not in {None, ""} }
print(output_data)

{False, True, 'Tina', 45.099, 45, 18, 'Elvis', 55.25}

# Challenge 2: “Extraction of all sets from the list of lists, provided the length of nested list is 2, further the first item in nested list must be string of len 2, and the second item must be a list of 3 items.”

In [10]:
input_data = [
    ["us", ["United States", 1776, 1]],
    ["pk", ["Pakistan", 1947, 92]],
    ["in", ["India", 1947, 91]],
    [18, ["Bangladesh", 1971, 880]],
    ["la", ["La La Land", 0]],
    ["zl", ["ZeaLand"]],
]

In [11]:
output_data = [x for x in input_data if len(x)==2 and type(x[0])==str and len(x[0])==2 and type(x[1])==list and len(x[1])==3]
print(output_data)

[['us', ['United States', 1776, 1]], ['pk', ['Pakistan', 1947, 92]], ['in', ['India', 1947, 91]]]

# Understanding 3: “Extraction key value pairs from the list of dictionaries, key contains the alphabet 'x'.”

In [12]:
input_data = [
    {'axe':{1,24,5}, 'box':{2,15,24}},
    {'aim':{1,9,13}, 'gear':{7,5,1,18}},
    {'six':{19,9,24}, 'tin':{20,9,11}},
]

In [13]:
output_data = { k:v for x in input_data for k,v in x.items() if 'x' in k }
print(output_data)

{'axe': {24, 1, 5}, 'box': {24, 2, 15}, 'six': {24, 9, 19}}

# Challenge 3: Extract all key-value pairs from the list of dictionaries where the value of key is True

In [14]:
input_data = [
    {'id': 4, 'male': True, 'emp': False},
    {'id': 5, 'edu': 12, 'alive': True},
    {'id': 6, 'eng': True, 'enrl': False},
]

In [15]:
output_data = { k:v for x in input_data for k,v in x.items() if v == True}
print(output_data)

{'male': True, 'alive': True, 'eng': True}